
Django==4.2.5

django-cors-headers==4.3.0
django-jazzmin==2.6.0

djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0

# delete images from media folder when I remove it from product image
install django-cleanup
pip install --upgrade setuptools